snippet ppp "Monthly PPP"
	# PPP - ${1:$CURRENT_DAY_NAME $CURRENT_MONTH_NAME $CURRENT_DATE $CURRENT_YEAR}
	
	## Plans after $1
	
	## Progress since [last time](${2:link to last PPP})
	
	## Pains
	
	## Plans from [last time]($2)
	
	## [Reflection](${3:../diary/$CURRENT_YEAR-$CURRENT_MONTH-$CURRENT_DATE.md})
