*.log
.Xauthority
.appdata
.bash_history
.cache
.dbus
.esd_auth
.pulse
.pulse-cookie
.qemu_history
.qt
.recently-used
.recently-used.xbel
.evolution
.fontconfig
.compiz/session
.gconf/apps/%gconf.xml
.gconf/apps/NetworkManagerApplet
.gconf/apps/eog
.gconf/apps/evolution
.gconf/apps/f-spot
.gconf/apps/file-roller
.gconf/apps/gcalctool
.gconf/apps/gedit-2
.gconf/apps/gnome-app-install
.gconf/apps/gnome-power-manager
.gconf/apps/gnome-screensaver
.gconf/apps/gnome-screenshot
.gconf/apps/gnome-settings
.gconf/apps/gnome-terminal
.gconf/apps/gnome_settings_daemon
.gconf/apps/gtwitter
.gconf/apps/gucharmap
.gconf/apps/metacity
.gconf/apps/nautilus
.gconf/apps/panel
.gconf/apps/procman
.gconf/apps/seahorse
.gconf/apps/tomboy
.gconf/apps/totem
.gconf/apps/update-manager
.gconf/apps/wp_tray
.gconf/desktop
.gconf/system
.gconfd
.gem
.gimp-2.4
.gkrellm2/data*
.gksu.lock
.gnome2
.gnupg/*.gpg*
.gnupg/random_seed
.gnuplot-wxt
.gnuplot_history
.gstreamer-0.10
.gtk-bookmarks
.gtwitter
.hplip
.inkscape
.java
.kde
.lesshst
.local
.macromedia
.mcop
.mcoprc
.metacity
.mozilla-thunderbird
.mozilla
.mplayer
.mumbles
.ruby_inline
.mysql_history
.nautilus
.sqlite_history
.ssh/authorized_keys
.ssh/id_rsa*
.ssh/known_hosts
.sudo_as_admin_successful
.thumbnails
.tomboy
.transmission
.vimfuzzyfinder
.viminfo
.notifier.conf
.vlc
.update-manager-core
.wine
.xine
.openoffice.org2
.opera
.prism
.xscreensaver-getimage.cache
.xsession-errors
.ICEauthority
.Skype
.purple/icons
.purple/blist.xml
.purple/status.xml

Desktop
Pictures
WebApps
bin
documents
learning
packages
projects
tmp
