[user]
	name = Sam Stokes
	email = me@samstokes.co.uk
[core]
	excludesfile = /home/sam/.git-excludes
	editor = $HOME/bin/git-msg-vim -f -g
[color]
	branch = auto
	diff = auto
	status = auto
	interactive = auto
[alias]
	co = checkout
	ci = commit
	br = branch
	st = status
	h = !x git help
	sm = submodule
	dfw = !x git diff -w
  pk = cherry-pick
	dt = difftool
	rb = rebase
	mf = merge-feature
  mt = mergetool
[merge]
	tool = gvimdiff
[clean]
	requireForce = true
