.adobe
.aerofs
.appdata
.aptitude
.bash_history
.cabal/bin
.cabal/lib
.cabal/share
.cache
.com.jungledisk.service.status
.compiz/session
.config/autokey/autokey.log
.config/autokey/autokey.pid
.config/compiz/compizconfig/config
.config/compiz/fusion-icon
.config/desktop-couch
.config/Empathy
.config/enchant
.config/f-spot
.config/gitg
.config/google-chrome
.config/gtk-2.0
.config/indicators
.config/menus
.config/monitors.xml
.config/tomboy
.config/totem/state.ini
.config/transmission
.config/Trolltech.conf
.config/user-dirs.*
.config/vlc
.cups
.dbus
Desktop
.dmrc
Documents
documents
Downloads
Dropbox
.dropbox
.dropbox-dist
.ecryptfs
.erlang.cookie
.esd_auth
.evolution
.face
.fontconfig
.gegl-0.0
.gconf
.gconfd
.gem
.gforth-history
.ghc
.gimp-*
.gitk
.gksu.lock
.gnome/apps
.gnome2
.gnuplot_history
.gnuplot-wxt
.gstreamer-0.10
.gtk-bookmarks
.gtwitter
.heroku/console_history
.hplip
.htoprc
.ICEauthority
.inkscape
.ivy2
.java
.jungledisk
.junglediskinstance
.kde
learning
.lesshst
.links2
.local
*.log
.m2/scala-console.histo
.m2/repository
.macromedia
.mcop
.mcoprc
.metacity
.mission-control/accounts
.mozilla
.mozilla-thunderbird
.mplayer
.mumbles
Music
music
.mysql_history
.nautilus
.notifier.conf
.nvidia-settings-rc
.openoffice.org
.openoffice.org2
.opera
packages
PDF
Pictures
.Private
Private
.pki
.printer-groups.xml
.prism
projects
.psql_history
.pulse
.pulse-cookie
.purple
.qemu_history
.qt
.quicksynergy
.raindrop
.recently-used
.recently-used.xbel*
.ruby_inline
.sane
.scala_history
.Skype
.sqlite_history
.sudo_as_admin_successful
.synaptic
Templates
.thumbnails
.thunderbird
tmp
.tomboy
.transmission
.update-manager-core
.update-notifier
Videos
.vim/.netrwhist
.vim/.VimballRecord
.vimfuzzyfinder
.viminfo
.vimoutliner/vo_tags.tag
.vimprojects
.VirtualBox
.vlc
vm
vms
.wapi
.webapps
WebApps
.wine
workspace
.Xauthority
.xine
.xmonad/history
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xscreensaver-getimage.cache
.xsession-errors*
Yammer
.yuuguu
