[user]
	name = Sam Stokes
	email = me@samstokes.co.uk
[core]
	excludesfile = /home/sam/.git-excludes
	editor = $HOME/bin/git-msg-vim -f -g
	pager = less -i
[color]
	branch = auto
	diff = auto
	status = auto
	interactive = auto
[alias]
	co = checkout
	ci = commit
	br = branch
	st = status
	h = !x git help
	sm = submodule
	dfw = !x git diff -w
  pk = cherry-pick
	dt = difftool
	rb = rebase
	mf = merge-feature
  mt = mergetool
  mw = !git meanwhile
  meanwhile = !git logg $(git wbr)..master
	ct = committool
	rc = review-commits
	wbr = describe --contains --all HEAD
	sha = rev-parse --short HEAD
	mb = merge-base
	dfwp = diff -w --patience
	shwp = show -w --patience
	clean-conflict-cruft = "!find . \\( -name '*.orig' -o -name '*.rej' -o -name '*.BACKUP.*' -o -name '*.BASE.*' -o -name '*.LOCAL.*' -o -name '*.REMOTE.*' \\) -exec rm -i \\{\\} \\;"
	ccc = !git clean-conflict-cruft
  rup = remote update --prune
	logg = log --oneline --decorate --graph
[merge]
	tool = gvimdiff
	defaultToUpstream = true
[rerere]
	enabled = true
[clean]
	requireForce = true
[diff]
	tool = gvimdiff
	mnemonicprefix = 1
	renames = copies
[push]
	default = upstream
[rebase]
	autosquash = true
[credential]
	helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring
[pull]
	ff = only
