.appdata
.bash_history
.cache
.dbus
Desktop
documents
.esd_auth
.evolution
.fontconfig
.gconfd
.gem
.gimp-2.4
.gkrellm2/data*
.gksu.lock
.gnome2
.gnupg/*.gpg*
.gnupg/random_seed
.gnuplot_history
.gnuplot-wxt
.gstreamer-0.10
.gtk-bookmarks
.gtwitter
.hplip
.ICEauthority
.inkscape
.java
.kde
learning
.lesshst
.local
*.log
.macromedia
.mcop
.mcoprc
.metacity
.mozilla
.mozilla-thunderbird
.mplayer
.mumbles
.mysql_history
.nautilus
.notifier.conf
.openoffice.org2
.opera
packages
Pictures
.prism
projects
.pulse
.pulse-cookie
.purple/blist.xml
.purple/icons
.purple/status.xml
.qemu_history
.qt
.recently-used
.recently-used.xbel
.ruby_inline
.Skype
.sqlite_history
.ssh/authorized_keys
.ssh/id_rsa*
.ssh/known_hosts
.sudo_as_admin_successful
.thumbnails
tmp
.tomboy
.transmission
.update-manager-core
.vimfuzzyfinder
.viminfo
.vlc
WebApps
.wine
.Xauthority
.xine
.xscreensaver-getimage.cache
.xsession-errors
