[submodule "lib/ss496-shutil"]
	path = lib/ss496-shutil
	url = git@github.com:samstokes/ss496-shutil.git
[submodule ".xmonad/src/hassh"]
	path = .xmonad/src/hassh
	url = /home/sam/projects/hassh/
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git@github.com:samstokes/vim-surround.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
