[submodule "lib/ss496-shutil"]
	path = lib/ss496-shutil
	url = git@github.com:samstokes/ss496-shutil.git
[submodule "projects/todo"]
	path = projects/todo
	url = https://gist.github.com/samstokes/5392339
