[Desktop Entry]
Type=Application
Exec=/usr/bin/dispad
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=dispad
Name=dispad
Comment[en_US]=Disable trackpad while typing.
Comment=Disable trackpad while typing.
