
[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0
Name=No Name
Name[en_GB]=Firefox
Comment[en_GB]=Firefox web browser
Comment=Firefox web browser
Exec=/usr/bin/firefox
X-GNOME-Autostart-enabled=true
