
[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0
Name=No Name
Name[en_GB]=Mojo Mail
Comment[en_GB]=Mojo Gmail, prismised
Comment=Mojo Gmail, prismised
Exec="/opt/prism/prism" -override "/home/sam/WebApps/mojo.mail@prism.app/override.ini" -webapp mojo.mail@prism.app
X-GNOME-Autostart-enabled=true
