
[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0
Name=No Name
Name[en_GB]=MonkeySam
Comment[en_GB]=MonkeyGTDWiki, prismised
Comment=MonkeyGTDWiki, prismised
Exec="/opt/prism/prism" -override "/home/sam/WebApps/monkeysam@prism.app/override.ini" -webapp monkeysam@prism.app
X-GNOME-Autostart-enabled=true
