[Desktop Entry]
Type=Application
Version=1.0
GenericName=Color temperature adjustment
Exec=redshift-gtk
Hidden=false
Categories=Utility;
Terminal=false
Icon=redshift
Name=Redshift
X-GNOME-Autostart-enabled=false
Comment=Color temperature adjustment tool
StartupNotify=true

