
[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0
Name=No Name
Name[en_GB]=Wallpaper Tray Control
Comment[en_GB]=Random wallpaper on login and at timed intervals
Comment=Random wallpaper on login and at timed intervals
Exec=wallpaper-tray
X-GNOME-Autostart-enabled=true
