eog
evolution
file-roller
f-spot
gcalctool
%gconf.xml
gedit-2
gnome-app-install
gnome-power-manager
gnome-screensaver
gnome-screenshot
gnome-settings
gnome_settings_daemon
gnome-terminal
gtwitter
gucharmap
metacity
nautilus
NetworkManagerApplet
panel
procman
quark
rhythmbox
seahorse
tomboy
totem
update-manager
wp_tray
