# Host-name of SqueezeCenter server
Host = xorlub
# Load artist, albums and radio in the background when loading DO. If set to false, these items are loaded when DO is loading causing a delay until all items are loaded.
LoadInBackground = True
# Port of the SqueezeCenter server cli interface
CLIPort = 9090
# Comma-seperated list of radios to load
Radios = My Radio Stations
# Port of the SqueezeCenter server web interface
WebPort = 9000
